extends layouts/main

block content
    .form-container
        form(action=routes.editProfile,method="post")
            .fileUpload
                label(for="avatar") Avatar
                input(type="file")
            input(type="text",placeholder="Name", name="name")
            input(type="email",placeholder="Name",name="email")
            input(type="submit",value="Update Profile")
        a.from-container__link(href=`/users${routes.changePassword}`) 
            button Change Password
        